VITE_API_URL=https://jothi-matrimony.onrender.com
NEXT_PUBLIC_API_URL=https://jothi-matrimony.onrender.com
NEXT_PUBLIC_SUPABASE_URL=https://mjcbbjwttlteiqnntuet.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SpidCY0sORh-ctxT2GC-xw_V_OqHnlZ
NEXT_PUBLIC_APP_URL=https://web-delta-gilt-19.vercel.app
